<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2014.  Finley Smith -->
<!--  -->
<!-- This program is free software; you can redistribute it and/or -->
<!-- modify it under the terms of the GNU General Public License -->
<!-- as published by the Free Software Foundation; either version 2 -->
<!-- of the License, or (at your option) any later version. -->
<!--  -->
<!-- This program is distributed in the hope that it will be useful, -->
<!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
<!-- GNU General Public License for more details. -->
<!--  -->
<!-- You should have received a copy of the GNU General Public License -->
<!-- along with this program; if not, write to the Free Software -->
<!-- Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA. -->
<!-- Also add information on how to contact you by electronic and paper mail. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bordengrammar.bordengrammarapp"
    android:versionCode="1"
    android:versionName="1" >

	<!-- OpenGL For Map -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

	<!-- Permmisions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>

	<!-- Maps -->

    <permission
        android:name="com.bordengrammar.bordengrammarapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bordengrammar.bordengrammarapp.permission.MAPS_RECEIVE" />

	<!-- Push notifcation -->


    <permission
        android:name="com.bordengrammar.bordengrammarapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.bordengrammar.bordengrammarapp.permission.C2D_MESSAGE" />

	<!-- Android 3.0+ -->

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

	<!-- Main settings for application -->

    <application
        android:name="com.bordengrammar.bordengrammarapp.Application"
        android:allowBackup="true"
		android:description="@string/des"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Example" >
		<!-- Splash screen -->
        <activity
            android:name="com.bordengrammar.bordengrammarapp.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- Main Activity -->
        <activity
            android:name="com.bordengrammar.bordengrammarapp.MainActivity"
            android:label="@string/app_name" >
        </activity>

		<!-- Push Stuff -->
		<service android:name=".BGSWidgetService">
		</service>
		<receiver
			android:icon="@drawable/ic_launcher"
			android:label="BGS Widget"
			android:name="BGSWidgetProvider" >
			<intent-filter >
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.ALTERNATIVE"></category>
			</intent-filter>
			<intent-filter>
				<action android:name="com.bordengrammar.bordengrammarapp.BGSWidgetService.MOODY" />
			</intent-filter>


			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>

		<service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.bordengrammar.bordengrammarapp" />
            </intent-filter>
        </receiver>

		<!-- Other activitys -->

        <activity
            android:name="com.bordengrammar.bordengrammarapp.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.bordengrammar.bordengrammarapp.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

		<!-- Meta-data (keys etc) -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyB7Vi7qBh0Ui0jC5A_cJkeCG2-jB6mQJ0w" />

        <activity
            android:name="com.bordengrammar.bordengrammarapp.TwitterActivity"
            android:label="@string/title_activity_twitter"
            android:parentActivityName="com.bordengrammar.bordengrammarapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.bordengrammar.bordengrammarapp.PrivacyActivity"
            android:label="@string/title_activity_privacy"
            android:parentActivityName="com.bordengrammar.bordengrammarapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

		<!-- For widget -->

	</application>

</manifest>
